<div class="inicio-pagina">
  <!-- Popup de anuncios (solo en HOME, aleatorio, con opción de no volver a mostrar) -->
  <app-popup-bienvenida [anuncios]="anunciosTemporales()"></app-popup-bienvenida>

  @if (carrusel()!.slides.length) {
  <app-seccion-carrusel [slides]="carrusel()!.slides"></app-seccion-carrusel>
  }

  @if (promocion()!.items.length) {
  <app-seccion-promocion [items]="promocion()!.items" [titulo]="promocion()!.titulo"></app-seccion-promocion>
  }

  @for (categoria of categorias(); track categoria.handle) {
  <app-seccion-categorias [categoria]="categoria"></app-seccion-categorias>
  }
</div>